
<div id="myDIV" class="header">
    <h2 >To Do List- Angular</h2><br>
<div  class="form">
<input class="inp" #inp type="text" id="myInput" placeholder="Title...">
<button class="addBtn" (click)="addToList(inp.value)">Add</button>
</div>
<br>
</div>


 <div  class="task-container"*ngFor="let task of list; index as i">
    <div>
        <div class="v" (click)="taskComplited(i)" >
            <span *ngIf="!task.done" style='font-size:20px; '>&#9989;</span>
        </div>
        
    </div>

    <span [ngClass]="{'done': !task.done}">{{task.task}}</span>
   
    
    <div>
     <i class="closeBtnOrbuy"[disabled]="!flag" (click)="addItemToBag()"  class="fa fa-pencil"></i>
     <i (click)="removeFromList(i)" class="fa fa-trash"  ></i>
     </div>

    </div>
    <div *ngIf="fff" class="backdrop" (click)="onClose()">

    </div>
    
    <div *ngIf="fff" class="alert-box">
      <p>{{ message }}</p>
      <div class="alert-box-actions">
        <button class="closeBtnOrbuy" (click)="onClose()">סגור</button>
      </div>
    </div>



