.done{
  text-decoration: line-through;
}
body {
  margin: 0;
  min-width: 250px;
}

.form {
  display: flex;
  border-radius: 25px;
}

.inp {
  border-radius: 25px 0px 0px 25px;
}

.task-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15px;
  background: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
  border: solid black 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  font-size: 105%;
  margin-top: 3px;
}
.v {
 width: 25px;
  height: 25px;
   border: 2px solid black; 
   padding-left: 1px;
   padding-bottom: 1px;
}

i {
  font-size: 20px;
  padding: 2px;
}
h2 {
  background-color: rgb(5, 5, 63);
  margin: 0;
  color: white;
  text-align: center;
  margin: 5px;
}

.addBtn {
  border-radius: 0px 25px 25px 0px;
}

/* Style the header */
.header {
  background-color: rgb(5, 5, 63);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}

#task-span {
  color: red;
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 30vw;
  width: 35vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: #232d54;;
  text-align: center;
  border: 2px solid #232d54;;
  border-radius: 25px;
}

.alert-box-actions {
  text-align: right;
}
.closeBtnOrbuy{
    width: 100px;
    height: 30px;
  color: white;
   background-color: #232d54;
    cursor: pointer;
    border-radius: 5px;
}
